h1 {
    font-size:22px;
    color: #FE7D4e;
    font-weight:normal;
}
.h1color h1{
    color: black;
}
.hero{
   display: flex;
   justify-content: space-around;
   background-size: cover;
   align-items: center;
   padding: 20px;
}
.button {
    display: flex;
   display: inline-block;
   border-radius: 12px;
   background-color:  #FE7D4E;
   padding: 20px;
   width: 200px;
   color: #ffffff;
   text-align: center;
   box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3)
}
.services img{
    max-width: 100%;
    height: auto;
}
.services-text{
    color: #ffffff;
    position: absolute;
    top: 30%;
    padding: 20px;
    right: 20%;
    font-size: 30px;
    
}
.services-books{
    display: flex;
    justify-content: space-evenly;
    background: #fff7f3;
}
#div1{
    
    width: 3000px;
    height: 200px;
    background-color: #fff7f3;
    font-size: 40px;
    vertical-align: bottom;
   display: table-cell;
}
#div2{
    width: 1600px;
    height: 200px;
    background-color: #fff7f3;
}
#div3{
    width: 1600px;
    height: 200px;
    background-color: #fff7f3;
}
#div4{
    width: 1600px;
    height: 200px;
    background-color: #fff7f3;
}
#div5{
    width: 1600px;
    height: 200px;
    background-color: #fff7f3;
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 210%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FE7D4E;
    color: white;
    font-size: 60px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3)
  }
  #div6{
    width: 2000px;
    height: 600px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
#div7{
    width: 2000px;
    height: 600px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
#div8{
    width: 1000px;
    height: 600px;
}
footer{
    display: flex;
}
#div9{
    width: 1700px;
    height: 1000px;
    background-color: #FEFDF9;
    font-size: 40px;
    text-align: center;
    
}
#div10{
    width: 2050px;
    height: 1000px;
    background-color: #FEF2F2;
}
.monthbook{
    display: flex;
    text-align: center;
}
h5{
    float:right;
}
h6{
    float:left;
}